@font-face {
    font-family: lakeshore;
    src: url("../fonts/LAKESHOR-webfont.svg") format("svg");
    src: url("../fonts/LAKESHOR-webfont.woff") format("woff");
}
@font-face {
    font-family: airstream;
    src: url("../fonts/Airstream-webfont.svg") format("svg");
    src: url("../fonts/Airstream-webfont.woff") format("woff");
}
/* Emmet */
body{
    background-color: bisque;
}
a {
    text-decoration: none;
}

a:hover{
    display: block;
    /*border: 4px solid darkred;*/
    transform: scale(1.2);
    transition: 2s;
}

a:hover span{
    color: darkgreen;
    transition: 2s;
}

.thumbnail-item {
    border: solid 3px white;
    /*border-style: solid;
    border-width: 3px;
    border-color: white;*/
}
.thumbnail-list {
    display: flex;
    overflow-y: auto;
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    justify-content: space-between;
}
.thumbnail-image{
    display: block;
    width: 15vw;
    height: 10vw;
}
.thumbnail-title{
    display: block;
    text-align: center;
    background-color: deeppink;
    color: white;
    font-size: 1.8rem;
    font-family: airstream;
}
.logo-text{
    text-align: center;
    font-family: lakeshore;
    background-color: aqua;
    text-transform: uppercase;
    font-size: 2rem;
}

.detailed-frame{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    position: relative;
}
.detailed-title{
    position: absolute;
    left: 10vw;
    bottom: 1vw;
    font-family: airstream;
    font-size: 5vw;
    font-style: italic;
    color: white;
}
.detailed-image{
    display: block;
    width: 80%;
}
.main-content{
    display: flex;
    flex-direction: column;

}

/* Mobile first */
@media all and (min-width: 600px) {
    body {
        background-color: darkgray;
    }

    .main-content {
        flex-direction: row;
    }

    .thumbnail-list{
        flex-direction: column;
        height: 90vh;
        overflow-y: auto;
        margin-top: 0;
        overflow-x: hidden;
        order: -1;
    }
    .thumbnail-item{
        min-width: 15vw;
    }
    .detailed-image{
        width: 70%;
    }
    .thumbnail-item+.thumbnail-item{
        margin-top: 10px;
    }
}
