body
{
    display: table;
    width: 100%;
    table-layout: fixed;
}

.two_inputs,.three_inputs
{
    display: flex;
    justify-content: space-around;
}

.two_inputs .form-control
{
    width: 25vw;
}

.three_inputs .form-control
{
    width: 18vw;
}

.two_inputs label, .three_inputs label
{
    display: block;
    text-align: center;
    font-weight: bold;
}
